/* Colors and Fronts */
h1 
{
	background-color: grey;
	color: yellow;
}

body 
{
	background-color: pink;
	color: yellow;
}

	perfect-circle {
		width: 100px;
	height: 100px;
	border-radius: 50%;
}

	.img-circle {
		border-radius: 10px;
}

	.shadowed {
		box-shadow: 5px 5px 3px black;		
}

#leader {
	border: 5px solid red;
}	

	a {
  color: red;
  text-decoration: none;
}
	a:hover {
  text-decoration: underline;
}

	h1 {
  font-weight: bold;
}
	h2 {
  font-weight: bold;
}





